<%= wicked_pdf_stylesheet_link_tag "bootstrap-sprockets" %>
<%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
<%= wicked_pdf_stylesheet_link_tag "collections" %>
<%= wicked_pdf_stylesheet_link_tag "artists" %>
<%= wicked_pdf_stylesheet_link_tag "customers" %>
<%= wicked_pdf_stylesheet_link_tag "artworks" %>

<script>
    if (document.title = "Table Preview") {
        document.getElementById("nav").style.display = 'none';
        document.body.style.margin = '0px';
    }
</script>

<div class='toc-book-layout'>
  <% unless @artworks.blank? %>
    <div>
      <table class="toc-book-table">
        <tbody>
        <% @artworks.each_with_index do |artwork, index| %>
          <div class="toc-book-row-container toc-book-row-container-<%= index %>">
            <div class="toc-book-table-row-1">
              <%= artwork.artists[0].firstName %> <%= artwork.artists[0].lastName %> (<%= artwork.artists[0].additionalInfo %>)
            </div>
            <div class="toc-book-table-row-2"><span class="toc-book-table-row-2-text"><%= artwork.title %>,</span> <%= artwork.date %></div>
            <div class="toc-book-table-row-3"><%= artwork.medium %></div>
            <div class="toc-book-table-row-3"><%= artwork.dimensions %></div>
          </div>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>