<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :artist_firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :artist_lastName %>
  </div>

  <div class="field">
    <%= form.label :artist_image, 'Artist Image' %>
    <%= form.file_field :artist_image, id: :artist_image %>
    <% if form.object.artist_image? %>
      <%= image_tag form.object.artist_image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :additionalInfo %>
    <%= form.text_field :additionalInfo, id: :artist_additionalInfo %>
  </div>

  <div class="field">
    <%= form.label :biography %>
    <%= form.text_area :biography, id: :artist_biography, cols: "70", rows: "25" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
