<p id="notice"><%= notice %></p>

<% content_for :title, "View Artists" %>

<h1>Artists</h1>

<%= link_to 'New Artist', new_artist_path %><br /><br />

<table>
  <thead>
    <tr>
      <th>Artist Image</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Additional Artist Info</th>
      <th>Biography</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td>
          <% if artist.artist_image.thumb.url %>
            <%= image_tag artist.artist_image.thumb.url %>
          <% end %>
        </td>
        
        <td><%= artist.firstName %></td>
        <td><%= artist.lastName %></td>
        <td><%= artist.additionalInfo %></td>
        <td><%= artist.biography %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @artists %>

<br>

<h4>Import that data!</h4>
  <%= form_tag import_artists_path, multipart: true do %>
    <%= file_field_tag :file, :required => true %>
    <%= submit_tag "Import Artists" %>
<% end %>