<%= form_with(model: artwork, local: true, id: "new-artwork-form") do |form| %>
  <% if artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ojbId, 'Object ID' %>
    <%= form.text_field :ojbId, id: :artwork_ojbId %>
    <p class="obj-id-error">This ID is already taken</p>
  </div>

  <div class="field">
    <%= form.label :artType, 'Art Type' %>
    <%= form.text_field :artType, id: :artwork_artType %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :artwork_title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :artwork_date %>
  </div>

  <div class="field">
    <%= form.label :medium %>
    <%= form.text_field :medium, id: :artwork_medium %>
  </div>

  <div class="field">
    <%= form.label :image, 'Main Image' %>
    <%= form.file_field :image, id: :artwork_image %>
    <% if form.object.image? %>
      <%= image_tag form.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :artwork_description, cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= form.label :dimensions %>
    <%= form.text_field :dimensions, id: :artwork_dimensions %>
  </div>

  <div class="field">
    <%= form.label :frame_dimensions, "Frame Dimensions" %>
    <%= form.text_field :frame_dimensions, id: :artwork_frame_dimensions %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :artwork_condition %>
  </div>

  <div class="field">
    <%= form.label :currentLocation, 'Current Location' %>
    <%= form.text_field :currentLocation, id: :artwork_currentLocation %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :artwork_source %>
  </div>

  <div class="field">
    <%= form.label :dateAcquiredLabel, 'Date Acquired Label' %>
    <%= form.text_field :dateAcquiredLabel, id: :artwork_dateAcquiredLabel %>
  </div>

  <div class="field">
    <%= form.label :dateAcquired, 'Date Acquired' %>
    <%= form.text_field :dateAcquired, id: :artwork_dateAcquired %>
  </div>

  <div class="field">
    <%= form.label :amountPaid, 'Amount Paid' %>
    <%= form.text_field :amountPaid, id: :artwork_amountPaid %>
  </div>

  <div class="field">
    <%= form.label :currentValue, 'Current Value' %>
    <%= form.text_field :currentValue, id: :artwork_currentValue %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :artwork_notes, cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= form.label :notesImage, 'Notes Image' %>
    <%= form.file_field :notesImage, id: :artwork_notesImage %>
    <% if form.object.notesImage? %>
      <%= image_tag form.object.notesImage.thumb.url %>
      <%= form.label :remove_notesImage %>
      <%= form.check_box :remove_notesImage %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :notesImageTwo, 'Notes Image Two' %>
    <%= form.file_field :notesImageTwo, id: :artwork_notesImageTwo %>
    <% if form.object.notesImageTwo? %>
      <%= image_tag form.object.notesImageTwo.thumb.url %>
      <%= form.label :remove_notesImageTwo %>
      <%= form.check_box :remove_notesImageTwo %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :additionalInfoLabel, 'Additional Info Label' %>
    <%= form.text_field :additionalInfoLabel, id: :artwork_additionalInfoLabel %>
  </div>

  <div class="field">
    <%= form.label :additionalInfoText, 'Additional Info Text' %>
    <%= form.text_area :additionalInfoText, id: :artwork_additionalInfoText, cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= form.label :additionalInfoImage, 'Additional Info Image' %>
    <%= form.file_field :additionalInfoImage, id: :artwork_additionalInfoImage %>
    <% if form.object.additionalInfoImage? %>
      <%= image_tag form.object.additionalInfoImage.thumb.url %>
      <%= form.label :remove_additionalInfoImage %>
      <%= form.check_box :remove_additionalInfoImage %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :additionalInfoImageTwo, 'Additional Info Image Two' %>
    <%= form.file_field :additionalInfoImageTwo, id: :artwork_additionalInfoImageTwo %>
    <% if form.object.additionalInfoImageTwo? %>
      <%= image_tag form.object.additionalInfoImageTwo.thumb.url %>
      <%= form.label :remove_additionalInfoImageTwo %>
      <%= form.check_box :remove_additionalInfoImageTwo %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :additionalPdf, 'Additional PDF' %>
    <%= form.file_field :additionalPdf, id: :additionalPdf %>

    <% if form.object.additionalPdf? %>
      <%= form.label :additionalPdf, id: :artwork_additionalPdf %>
      <%= form.label :remove_additionalPdf %>
      <%= form.check_box :remove_additionalPdf %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :reviewedBy, 'Reviewed By' %>
    <%= form.text_field :reviewedBy, id: :artwork_reviewedBy %>
  </div>

  <div class="field">
    <%= form.label :reviewedDate, 'Reviewed Date' %>
    <%= form.text_field :reviewedDate, id: :artwork_reviewedDate %>
  </div>

  <div class="field">
    <%= form.label :provenance %>
    <%= form.text_area :provenance, id: :artwork_provenance, cols: "50", rows: "10" %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.select(:artist_id, Artist.all.collect { |artist| [artist.firstName + ' ' + artist.lastName, artist.id]}.sort, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>

    <% if params[:cust_id] %>
      <%= form.select(:customer_id, Customer.all.collect { |customer| [customer.firstName + ' ' + customer.lastName, customer.id]}, include_blank: true, :selected => params[:cust_id]) %>
    <% else %>
      <%= form.select(:customer_id, Customer.all.collect { |customer| [customer.firstName + ' ' + customer.lastName, customer.id]}, include_blank: true) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :collection_id %>

    <% if params[:coll_id] %>
      <%= form.select(:collection_id, Collection.all.collect { |collection| [collection.collectionName, collection.id]}, include_blank: true, :selected => params[:coll_id]) %>
    <% else %>
      <%= form.select(:collection_id, Collection.all.collect { |collection| [collection.collectionName, collection.id]}, include_blank: true) %>
    <% end %>
  </div>

  <div class="actions">
    <% if params[:redirect] %>
      <%= hidden_field_tag(:redirect, 'true') %>
    <% end %>
    
    <%= form.submit %>
  </div>
<% end %>

<script>
  var objIdErrorExists = false;

  $('#artwork_ojbId').blur(function() {
    console.log($('#artwork_ojbId').val());

    $.ajax({
      url: "search_by_objid", 
      data: {"objid": $('#artwork_ojbId').val()}, 
      success: function(data) { 
        console.log("Success: " + data.obj_id_exists);

        if (data.obj_id_exists) {
          $('#artwork_ojbId').removeClass('obj-id-green').addClass('obj-id-red');
          $('.obj-id-error').css("display", "block");
          objIdErrorExists = true;
        } 
        else {
          $('#artwork_ojbId').removeClass('obj-id-red').addClass('obj-id-green');
          $('.obj-id-error').css("display", "none");
          objIdErrorExists = false;
        }

      }, 
      cache: false
    });
  });

  $("#new-artwork-form").submit(function(e) {
    console.log("Form submitted!");
    console.log("Is there an error? " + objIdErrorExists);

    if(objIdErrorExists) {
      $('html, body').animate({scrollTop: ($('#new-artwork-form').offset().top)},500);
      return false;
      }
  });
</script>