<%= form_with(model: artwork, local: true, id: "new-artwork-form") do |form| %>
  <% if artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="artwork-info-edit-left">
    <div class="field">
      <%= form.label :ojbId, 'Object ID' %>
      <%= form.text_field :ojbId, id: :artwork_ojbId %>
      <p class="obj-id-error">This ID is already taken</p>
    </div>

    <div class="field">
      <%= form.label :artType, 'Art Type' %>
      <%= form.text_field :artType, id: :artwork_artType %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :artwork_title %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <%= form.text_field :date, id: :artwork_date %>
    </div>

    <div class="field">
      <%= form.label :medium %>
      <%= form.text_field :medium, id: :artwork_medium %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :artwork_description, cols: "50", rows: "10" %>
    </div>

    <div class="field">
      <%= form.label :dimensions %>
      <%= form.text_field :dimensions, id: :artwork_dimensions %>
    </div>

    <div class="field">
      <%= form.label :frame_dimensions, "Frame Dimensions" %>
      <%= form.text_field :frame_dimensions, id: :artwork_frame_dimensions %>
    </div>

    <div class="field">
      <%= form.label :condition %>
      <%= form.text_field :condition, id: :artwork_condition %>
    </div>

    <div class="field">
      <%= form.label :currentLocation, 'Current Location' %>
      <%= form.text_field :currentLocation, id: :artwork_currentLocation %>
    </div>

    <div class="field">
      <%= form.label :source %>
      <%= form.text_field :source, id: :artwork_source %>
    </div>

    <div class="field">
      <%= form.label :dateAcquiredLabel, 'Date Acquired Label' %>
      <%= form.text_field :dateAcquiredLabel, id: :artwork_dateAcquiredLabel %>
    </div>

    <div class="field">
      <%= form.label :dateAcquired, 'Date Acquired' %>
      <%= form.text_field :dateAcquired, id: :artwork_dateAcquired %>
    </div>

    <div class="field">
      <%= form.label :amountPaid, 'Amount Paid' %>
      <%= form.text_field :amountPaid, id: :artwork_amountPaid %>
    </div>

    <div class="field">
      <%= form.label :currentValue, 'Current Value' %>
      <%= form.text_field :currentValue, id: :artwork_currentValue %>
    </div>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_area :notes, id: :artwork_notes, cols: "50", rows: "10" %>
    </div>

    <div class="field">
      <%= form.label :additionalInfoLabel, 'Additional Info Label' %>
      <%= form.text_field :additionalInfoLabel, id: :artwork_additionalInfoLabel %>
    </div>

    <div class="field">
      <%= form.label :additionalInfoText, 'Additional Info Text' %>
      <%= form.text_area :additionalInfoText, id: :artwork_additionalInfoText, cols: "50", rows: "10" %>
    </div>

    <div class="field">
      <%= form.label :additionalPdf, 'Additional PDF' %>
      <%= form.file_field :additionalPdf, id: :additionalPdf %>

      <% if form.object.additionalPdf? %>
        <%= form.label :additionalPdf, id: :artwork_additionalPdf %>
        <%= form.label :remove_additionalPdf %>
        <%= form.check_box :remove_additionalPdf %>
      <% elsif @additionalPDFExists %>
        <%= link_to "#{@artwork.ojbId}_PDF.pdf", "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_PDF.pdf", target: :_blank %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :reviewedBy, 'Reviewed By' %>
      <%= form.text_field :reviewedBy, id: :artwork_reviewedBy %>
    </div>

    <div class="field">
      <%= form.label :reviewedDate, 'Reviewed Date' %>
      <%= form.text_field :reviewedDate, id: :artwork_reviewedDate %>
    </div>

    <div class="field">
      <%= form.label :provenance %>
      <%= form.text_area :provenance, id: :artwork_provenance, cols: "50", rows: "10" %>
    </div>

    <div class="field">
      <%= form.label :custom_title %>
      <%= form.text_field :custom_title, id: :custom_title %>
    </div>

    <div class="field">
      <%= form.label :artist_id %>
      <%= form.select(:artist_id, Artist.all.collect { |artist| [artist.firstName + ' ' + artist.lastName, artist.id]}.sort, include_blank: true) %>
    </div>

    <div class="field">
      <%= form.label :customer_id %>

      <% if params[:cust_id] %>
        <%= form.select(:customer_id, Customer.all.collect { |customer| [customer.firstName + ' ' + customer.lastName, customer.id]}, include_blank: true, :selected => params[:cust_id]) %>
      <% else %>
        <%= form.select(:customer_id, Customer.all.collect { |customer| [customer.firstName + ' ' + customer.lastName, customer.id]}, include_blank: true) %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :collection_id %>

      <% if params[:coll_id] %>
        <%= form.select(:collection_id, Collection.all.collect { |collection| [collection.collectionName, collection.id]}, include_blank: true, :selected => params[:coll_id]) %>
      <% else %>
        <%= form.select(:collection_id, Collection.all.collect { |collection| [collection.collectionName, collection.id]}, include_blank: true) %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :show_general_info, "Need to add general information about this piece of art?" %>
      <%= form.check_box :show_general_info, id: "add-general-info" %>
    </div>

    <div class="field" id="general-info_block">
      <%= form.label :general_information_id %>

      <% if params[:general_information_id] %>
        <%= form.select(:general_information_id, GeneralInformation.all.collect { |general_info| [general_info.information_label, general_info.id]}, include_blank: true, :selected => params[:general_informations_id]) %>
      <% else %>
        <%= form.select(:general_information_id, GeneralInformation.all.collect { |general_info| [general_info.information_label, general_info.id]}, include_blank: true) %>
      <% end %>

      <!-- Trigger/Open The Modal -->
      <%= link_to "New General Information", new_general_information_path, remote: true, id: "open-gi-btn" %>
    </div>

    <div class="actions">
      <% if params[:redirect] %>
        <%= hidden_field_tag(:redirect, 'true') %>
      <% end %>

      <%= form.submit %>
    </div>

    <!-- Trigger/Open The Modal -->
    <%= link_to "New Artist", new_artist_path, remote: true, id: "myBtn" %>
  </div>

  <div class="artwork-info-edit-right">
    <div class="field">
      <div>
        <%= form.label :image, 'Main Image' %>
      </div>

      <div>
        <% if form.object.image? %>
          <%= image_tag form.object.image.url, :class => "show-main-image" %>
          <%= form.label :remove_image %>
          <%= form.check_box :remove_image %>
        <% elsif @mainImageExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Main.jpg", :class => "show-main-image"  %>
        <% end %>
      </div>

      <div>
        <%= form.file_field :image, id: :artwork_image %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= form.label :notesImage, 'Notes Image' %>
      </div>

      <div>
        <% if form.object.notesImage? %>
          <%= image_tag form.object.notesImage.url, :class => "show-additional-images" %>
          <%= form.label :remove_notesImage, "Remove Notes Image" %>
          <%= form.check_box :remove_notesImage %>
        <% elsif @notesImageOneExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Notes_1.jpg", :class => "show-additional-images" %>
        <% end %>
      </div>

      <div>
        <%= form.file_field :notesImage, id: :artwork_notesImage %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= form.label :notesImageTwo, 'Notes Image Two' %>
      </div>

      <div>
        <% if form.object.notesImageTwo? %>
          <%= image_tag form.object.notesImageTwo.url, :class => "show-additional-images" %>
          <%= form.label :remove_notesImageTwo, "Remove Notes Image 2" %>
          <%= form.check_box :remove_notesImageTwo %>
        <% elsif @notesImageTwoExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Notes_2.jpg", :class => "show-additional-images" %>
        <% end %>
      </div>

      <div>
        <%= form.file_field :notesImageTwo, id: :artwork_notesImageTwo %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= form.label :additionalInfoImage, 'Additional Info Image' %>
      </div>

      <div>
        <% if form.object.additionalInfoImage? %>
          <%= image_tag form.object.additionalInfoImage.url, :class => "show-additional-images"  %>
          <%= form.label :remove_additionalInfoImage, "Remove Additional Image" %>
          <%= form.check_box :remove_additionalInfoImage %>
        <% elsif @additionalImageOneExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Additional_1.jpg", :class => "show-additional-images" %>
        <% end %>
      </div>

      <div>
        <%= form.file_field :additionalInfoImage, id: :artwork_additionalInfoImage %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= form.label :additionalInfoImageTwo, 'Additional Info Image Two' %>
      </div>

      <div>
        <% if form.object.additionalInfoImageTwo? %>
          <%= image_tag form.object.additionalInfoImageTwo.url, :class => "show-additional-images"  %>
          <%= form.label :remove_additionalInfoImageTwo, "Remove Additional Image 2" %>
          <%= form.check_box :remove_additionalInfoImageTwo %>
        <% elsif @additionalImageTwoExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Additional_2.jpg", :class => "show-additional-images" %>
        <% end %>
      </div>

      <div>
        <%= form.file_field :additionalInfoImageTwo, id: :artwork_additionalInfoImageTwo %>
      </div>
    </div>
  </div>
<% end %>

<!-- The General Information Modal -->
<div id="gi-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="gi-modal-close">&times;</span>
    <p>Add New General Information</p>

    <%= form_with(url: {:controller => "general_informations", :action => "ajax_create"}, model: @general_information, remote: true, id: 'gi-ajax-form', scope: "general_information")  do | gi_form | %>
    <!-- This first check to see if the general information exists doesn't feel right, might have to come back to this --> 
    <% if @general_informations %>
      <% if @general_informations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@general_informations.errors.count, "error") %> prohibited this general_informations from being saved:</h2>

          <ul>
          <% @general_informations.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <div class="field">
        <%= gi_form.label :information_label %>
        <%= gi_form.text_field :information_label, id: :general_information_information_label %>
    </div>

    <div class="field">
        <%= gi_form.label :information %>
        <%= gi_form.text_area :information, id: :general_information_information, cols: "50", rows: "10"  %>
    </div>

    <div class="actions">
      <%= gi_form.submit :id => 'gi-submit-btn'%>
    </div>
  <% end %>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Add New Artist</p>

    <%= form_with(url: {:controller => "artists", :action => "ajax_create"}, model: @artist, remote: true, id: 'ajax-form', scope: "artist")  do | artist_form | %>
	  <!-- This first check to see if the artist exists doesn't feel right, might have to come back to this --> 
	  <% if @artist %>
		  <% if @artist.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

		      <ul>
		      <% @artist.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	  <% end %>

	  <div class="field">
	    <%= artist_form.label :firstName %>
	    <%= artist_form.text_field :firstName, id: :artist_firstName %>
	  </div>

	  <div class="field">
	    <%= artist_form.label :lastName %>
	    <%= artist_form.text_field :lastName, id: :artist_lastName %>
	  </div>

	  <div class="field">
	    <%= artist_form.label :additionalInfo %>
	    <%= artist_form.text_field :additionalInfo, id: :artist_additionalInfo %>
	  </div>

	  <div class="field">
	    <%= artist_form.label :biography %>
	    <%= artist_form.text_area :biography, id: :artist_biography, cols: "70", rows: "25" %>
	  </div>

	  <div class="actions">
	    <%= artist_form.submit :id => 'submitBtn'%>
      <p class="artist-exists-error">Artist Already Exists!</p>
	  </div>
	<% end %>

	</div>
</div>

<script>
  $("#new-artwork-form").submit(function(e) {
    // console.log("Form submitted! - Artwork");
    // console.log("Is there an error (artwork)? " + objIdErrorExists);

    if(objIdErrorExists) {
      $('html, body').animate({scrollTop: ($('#new-artwork-form').offset().top)},500);
      return false;
      }
  });

  $("#gi-modal").submit(function(e) {
    // console.log("Form submitted! - GI");
    // console.log("Is there an error (GI)? " + objIdErrorExists);

    if(objIdErrorExists) {
      $('html, body').animate({scrollTop: ($('#new-artwork-form').offset().top)},500);
      return false;
      }
  });
</script>

<script>
  var objIdErrorExists = false;

  $('#artwork_ojbId').blur(function() {
    // console.log($('#artwork_ojbId').val());

    $.ajax({
      url: "search_by_objid", 
      data: {"objid": $('#artwork_ojbId').val()}, 
      success: function(data) {
        if (data.obj_id_exists) {
          $('#artwork_ojbId').removeClass('obj-id-green').addClass('obj-id-red');
          $('.obj-id-error').css("display", "block");
          objIdErrorExists = true;
        } 
        else {
          $('#artwork_ojbId').removeClass('obj-id-red').addClass('obj-id-green');
          $('.obj-id-error').css("display", "none");
          objIdErrorExists = false;
        }
      }, 
      cache: false
    });
  });

  $('#add-general-info').click(function() {
    if ($(this).is(':checked')) {
      $('#general-info_block').css("display", "block");
    } else {
      $('#general-info_block').css("display", "none");
    }
  });

  if ($("#add-general-info").is(':checked')){
    $('#general-info_block').css("display", "block");
  }

  var giModal = document.getElementById('gi-modal');
	var giBtn = document.getElementById("open-gi-btn");
	var giSpan = document.getElementsByClassName("gi-modal-close")[0];
	var giSubmitBtn = document.getElementById("gi-submit-btn");
  var modal = document.getElementById('myModal');
	var btn = document.getElementById("myBtn");
	var span = document.getElementsByClassName("close")[0];
	var submitBtn = document.getElementById("submitBtn");

	// When the user clicks the button, open the modal 
	giBtn.onclick = function() {
		// console.log("clicking the gi btn to open the modal");
    giModal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	giSpan.onclick = function() {
		// console.log("clicking the gi span to close the modal");
    giModal.style.display = "none";
	}

	// Close the modal when form is submitted
	giSubmitBtn.onclick = function() {
		// console.log("closing the modal after submitting the gi form");
    giModal.style.display = "none";
	}

	// When the user clicks the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}

	// Close the modal when form is submitted
	submitBtn.onclick = function() {
		// console.log(artists)
	    // modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}

	$('#gi-ajax-form').on('ajax:success', updateGeneralInformation)

	function updateGeneralInformation(event, data) {
		// console.log("Update General Information method getting called!!");

		var gi_select = document.getElementsByName("artwork[general_information_id]")[0]
		var gi_select_options = document.getElementsByName("artwork[general_information_id]")[0].options;
		var gi_select_options_length = document.getElementsByName("artwork[general_information_id]")[0].options.length;

		// console.log("event: " + event);
		// console.log("Array length: " + event.detail[0].general_informations.length);

		for (i = 0; i < event.detail[0].general_informations.length; i++) {
			var gi_label = event.detail[0].general_informations[i].information_label;
			var gi_id = event.detail[0].general_informations[i].id;

			for (j = 1; j < gi_select_options_length; j++) {
				var select_name_value = document.getElementsByName("artwork[general_information_id]")[0].options[j].innerText;
				found = false

				if (gi_label == select_name_value) {
					found = true
					break;
				} else if (found == false && j == (gi_select_options_length - 1)) {
					var new_gi = document.createElement("option");
					new_gi.text = gi_label;
					new_gi.value = gi_id;
					gi_select.add(new_gi);
				}
			}
		}
	}

  $('#ajax-form').on('ajax:error', displayError);

  function displayError(event, data) {
    $('p.artist-exists-error').css("display", "block");
  }

  $('#ajax-form').on('ajax:success', updateArtists);

	function updateArtists(event, data) {
		modal.style.display = "none";

    var artists_select = document.getElementsByName("artwork[artist_id]")[0]
		var select_options = document.getElementsByName("artwork[artist_id]")[0].options;
		var select_options_length = document.getElementsByName("artwork[artist_id]")[0].options.length;

		for (i = 0; i < event.detail[0].artists.length; i++) {
			var artist_name = event.detail[0].artists[i].firstName + " " + event.detail[0].artists[i].lastName;
			var artist_id = event.detail[0].artists[i].id

			for (j = 1; j < select_options_length; j++) {
				var select_name_value = document.getElementsByName("artwork[artist_id]")[0].options[j].innerText;
				found = false

				if (artist_name == select_name_value) {
					found = true
					break;
				} else if (found == false && j == (select_options_length - 1)) {
					var new_artist = document.createElement("option");
					new_artist.text = artist_name;
					new_artist.value = artist_id;
					artists_select.add(new_artist);
				}
			}
		}
	}
</script>