<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<table>
  <thead>
    <tr>
      <th>Ojbid</th>
      <th>Arttype</th>
      <th>Title</th>
      <th>Date</th>
      <th>Medium</th>
      <th>Image</th>
      <th>Description</th>
      <th>Dimensions</th>
      <th>Frame dimensions</th>
      <th>Condition</th>
      <th>Currentlocation</th>
      <th>Source</th>
      <th>DateacquiredLabel</th>
      <th>Dateacquired</th>
      <th>Amountpaid</th>
      <th>Currentvalue</th>
      <th>Notes</th>
      <th>Notesimage</th>
      <th>Additionalinfolabel</th>
      <th>Additionalinfotext</th>
      <th>Additionalinfoimage</th>
      <th>Additionalpdf</th>
      <th>Reviewedby</th>
      <th>Revieweddate</th>
      <th>Provenance</th>
      <th>Artists</th>
      <th>Customers</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.ojbId %></td>
        <td><%= artwork.artType %></td>
        <td><%= artwork.title %></td>
        <td><%= artwork.date %></td>
        <td><%= artwork.medium %></td>

        <td>
          <% if artwork.image.thumb.url %>
            <%= image_tag artwork.image.thumb.url %>
          <% end %>
        </td>

        <td><%= artwork.description %></td>
        <td><%= artwork.dimensions %></td>
        <td><%= artwork.frame_dimensions %></td>
        <td><%= artwork.condition %></td>
        <td><%= artwork.currentLocation %></td>
        <td><%= artwork.source %></td>
        <td><%= artwork.dateAcquiredLabel %></td>
        <td><%= artwork.dateAcquired %></td>
        <td><%= artwork.amountPaid %></td>
        <td><%= artwork.currentValue %></td>
        <td><%= artwork.notes %></td>

        <td>
          <% if artwork.notesImage.thumb.url %>
            <%= image_tag artwork.notesImage.thumb.url %>
          <% end %>
        </td>

        <td><%= artwork.additionalInfoLabel %></td>
        <td><%= artwork.additionalInfoText %></td>
        
        <td>
          <% if artwork.additionalInfoImage.thumb.url %>
            <%= image_tag artwork.additionalInfoImage.thumb.url %>
          <% end %>
        </td>

        <td><%= artwork.additionalPdf %></td>
        <td><%= artwork.reviewedBy %></td>
        <td><%= artwork.reviewedDate %></td>
        <td><%= artwork.provenance %></td>
        
        <td>
          <% unless artwork.artist.blank? %>
            <%= artwork.artist.firstName %><%= ' ' %><%= artwork.artist.lastName %>
          <% end %> 
        </td>

        <td>
          <% unless artwork.customer.blank? %>
            <%= artwork.customer.firstName %><%= ' ' %><%= artwork.customer.lastName %>
          <% end %>     
        </td>

        <td>
          <% unless artwork.collection.blank? %>
            <%= artwork.collection.collectionName %>
          <% end %>  
        </td>

        <td><%= link_to 'Show', artwork %></td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork', new_artwork_path %>

<!-- <h4>Import that data!</h4>
  <%= form_tag import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= hidden_field_tag(:customer_id, 2) %>
    <%= submit_tag "Import Artwork" %>
<% end %> -->
