<% content_for :title, "HTML Preview" %>

<script>
	if (document.title = "HTML Preview") {
		document.getElementById("nav").style.display = 'none'; 
	}
</script>

<div class="preview-container black">
	<div class="banner">
		<div class="top avenirnext twelve">
			<div class="left avenirnextbold">Collection Object ID <%= @artwork.ojbId %></div>
			<div class="middle">Catalog Sheet</div>
			<div class="right date-examined">Examined: <%= @artwork.reviewedBy %></div>
		</div>
	</div>

	<header>
		<div class="main">
			<div class="title">
        <% if @artwork.custom_title && @artwork.custom_title != '' %>
          <p class="avenirnext collection-title" id="coll-title"><span class="avenirnextbold"><%= @artwork.custom_title %></span> <span class="avenirnextultralight">ART COLLECTION</span></p>
        <% else %>
          <p class="avenirnext collection-title" id="coll-title"><span class="avenirnextbold"><%= @artwork.collection.identifier %></span> <span class="avenirnextultralight"><%= @artwork.collection.collectionName %></span></p>
        <% end %>
			</div>
			<div class="logo">
				<%= image_tag 'spire-logo.png', class: 'logo-img'%>
			</div>
		</div>
		<div class="bottom">
			<div class="subheading avenirnext">Collection Inventory <span class="year"><%= @artwork.collection.year %></span> | Prepared by Spire Art Services</div>
		</div>
	</header> 

	<div>
    <div class="column-left bg-gray avenirnextlocal">
      <div class="label-block">
        <span class="avenirnextbold">Type:</span><p class="value"> <%= @artwork.artType %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Artist:</span>
        <p class="value"> 
          <% if @artwork.artist %>
            <% if @artwork.artist.firstName != '' && @artwork.artist.lastName != ''%>
              <%= @artwork.artist.lastName %>, <%= @artwork.artist.firstName %>
            <% elsif @artwork.artist.firstName != '' && @artwork.artist.lastName == '' %>
              <%= @artwork.artist.firstName %>
            <% else %>
              <%= @artwork.artist.lastName %>	
            <% end %>

            <% if @artwork.artist.additionalInfo %>
              <% if @artwork.artist.additionalInfo != "" %>
                (<%= @artwork.artist.additionalInfo %>)
              <% end %>
            <% end %>
          <% end %>
        </p>
      </div>

      <% if @artwork.title == 'Untitled' %>
        <div class="label-block">
          <span class="avenirnextbold">Title:</span>
            <p class="value"> <%= @artwork.title %></p><% if @artwork.date && @artwork.date != "" %>, <%= @artwork.date %><% end %>
        </div>
      <% else %>
        <div class="label-block">
          <span class="avenirnextbold">Title:</span>
          <p class="value italics"> <%= @artwork.title %></p><% if @artwork.date && @artwork.date != "" %>, <%= @artwork.date %><% end %>
        </div>
      <% end %>

      <div class="label-block">
        <span class="avenirnextbold">Medium:</span><p class="value"> <%= @artwork.medium %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Description:</span><p class="value"> <%= @artwork.description %></p>
      </div>
      <div class="label-block">  
        <span class="avenirnextbold">Dimensions (HxWxD):</span><p class="value"> <%= @artwork.dimensions %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Dimensions Frame:</span><p class="value"> <%= @artwork.frame_dimensions %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Condition:</span><p class="value"> <%= @artwork.condition %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Current Location:</span><p class="value"> <%= @artwork.currentLocation %></p>
      </div>
      <div class="label-block">
        <span class="avenirnextbold">Source:</span><p class="value"> <%= @artwork.source %></p>
      </div>
      <div class="label-block">
        <% if @artwork.dateAcquiredLabel && @artwork.dateAcquiredLabel != "" %>
          <span class="avenirnextbold"><%= @artwork.dateAcquiredLabel %>:</span><p class="value"> <%= @artwork.dateAcquired %></p>
        <% elsif @artwork.dateAcquired && @artwork.dateAcquired != "" %>
          <span class="avenirnextbold">Date Acquired:</span><p class="value"> <%= @artwork.dateAcquired %></p>
        <% end %>        
      </div><br />
      <div class="label-block">
        <p class="label-heading avenirnextbold">Provenance:</p>
        <p class="block-value provenance-content-area"> <%= sanitize @artwork.provenance , tags: %w(br), attributes: %w(style) %></p>
      </div>
      <div class="label-block">
        <% @artwork.collection.files.each do |filename| %>
          <% if filename.identifier == "#{@artwork.ojbId}_Notes_1.jpg" %>
            <% @notesImageOneExists = true %>
          <% elsif filename.identifier != "#{@artwork.ojbId}_Notes_1.jpg" && !@notesImageOneExists %>
            <% @notesImageOneExists = false %>
          <% end %>
          
          <% if filename.identifier == "#{@artwork.ojbId}_Notes_2.jpg" %>
            <% @notesImageTwoExists = true %>
          <% elsif filename.identifier != "#{@artwork.ojbId}_Notes_2.jpg" && !@notesImageTwoExists %>
            <% @notesImageTwoExists = false %>
          <% end %>

          <% if filename.identifier == "#{@artwork.ojbId}_Additional_1.jpg" %>
            <% @additionalImageOneExists = true %>
          <% elsif filename.identifier != "#{@artwork.ojbId}_Additional_1.jpg" && !@additionalImageOneExists %>
            <% @additionalImageOneExists = false %>
          <% end %>

          <% if filename.identifier == "#{@artwork.ojbId}_Additional_2.jpg" %>
            <% @additionalImageTwoExists = true %>
          <% elsif filename.identifier != "#{@artwork.ojbId}_Additional_2.jpg" && !@additionalImageTwoExists %>
            <% @additionalImageTwoExists = false %>
          <% end %>
        <% end %>

        <% if @artwork.notesImage.thumb.url %>
          <div class="notes-images-block">
            <div class="notes-image-one padding-bottom-five">
              <%= image_tag @artwork.notesImage.url unless @artwork.notesImage.nil? %>
            </div>
            <% if @artwork.notesImageTwo.thumb.url %>
              <div class="notes-image-two">
                <%= image_tag @artwork.notesImageTwo.url unless @artwork.notesImageTwo.nil? %>
              </div>
            <% elsif notesImageTwoExists %>
              <div class="notes-image-two">
                <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Notes_2.jpg", class: 'info-image' %>
              </div>
            <% end %>
          </div>
        <% elsif @notesImageOneExists %>
          <div class="notes-images-block">
            <div class="notes-image-one padding-bottom-five">
              <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Notes_1.jpg", class: 'info-image' %>
            </div>
            <% if @artwork.notesImageTwo.thumb.url %>
              <div class="notes-image-two">
                <%= image_tag @artwork.notesImageTwo.url unless @artwork.notesImageTwo.nil? %>
              </div>
            <% elsif @notesImageTwoExists %>
              <div class="notes-image-two">
                <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Notes_2.jpg", class: 'info-image' %>
              </div>
            <% end %>
          </div>
        <% end %>

        <p class="label-heading avenirnextbold">Note:</p>
        <p class="block-value notes-content-area"><%= sanitize @artwork.notes, tags: %w(span), attributes: %w(style) %></p>
      </div>
      
      <% if @artwork.additionalInfoText && @artwork.additionalInfoText != ""%>
        <div class="label-block">
          <% if @artwork.additionalInfoImage.thumb.url %>
            <div class="add-info-images-block">
              <div class="add-info-image-one">
                <%= image_tag @artwork.additionalInfoImage.url, class: 'info-image' %>
              </div>
              <% if @artwork.additionalInfoImageTwo.thumb.url %>
                <div class="add-info-image-two">
                  <%= image_tag @artwork.additionalInfoImageTwo.url, class: 'info-image' %>
                </div>
              <% elsif @additionalImageTwoExists %>
                <div class="add-info-image-two">
                  <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Additional_2.jpg", class: 'info-image' %>
                </div>
              <% end %>
            </div>
          <% elsif @additionalImageOneExists %>
            <div class="add-info-images-block">
              <div class="add-info-image-one">
                <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Additional_1.jpg", class: 'info-image' %>
              </div>
              <% if @artwork.additionalInfoImageTwo.thumb.url %>
                <div class="add-info-image-two">
                  <%= image_tag @artwork.additionalInfoImageTwo.url, class: 'info-image' %>
                </div>
              <% elsif @additionalImageTwoExists %>
                <div class="add-info-image-two">
                  <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Additional_2.jpg", class: 'info-image' %>
                </div>
              <% end %>
            </div>
          <% end %>

          <p class="label-heading avenirnextbold"><%= @artwork.additionalInfoLabel %>:</p>
          <p class="block-value additional-info-content-area"> <%= @artwork.additionalInfoText %></p>
        </div>
      <% end %>
    </div> <!-- End .column-left -->

    <div class="column-right">
			<div class="big-img">
        <% if @artwork.image.present? %>
				  <%= image_tag @artwork.image.url unless @artwork.image.nil? %>
        <% else %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{@artwork.collection.id}/#{@artwork.ojbId}_Main.jpg" %>
        <% end %>
			</div>
			<div class="bio">
				<% if @artwork.show_general_info %>
					<h3 class="bold"><%= @artwork.general_information.information_label %></h3>
					<p class="text-justify avenirnext" id="artist-bio"><%= @artwork.general_information.information %></p>
				<% else %>
          <% if @artwork.artist %>
            <h3 class="bold">Artist&#39s Biography</h3>
            <p class="text-justify avenirnext" id="artist-bio"><%= sanitize @artwork.artist.biography, tags: %w(span), attributes: %w(style) %></p>
          <% end %>
				<% end %>
			</div>
		</div> <!-- End .column-right -->
  </div> <!-- End columns -->
</div> <!-- End .preview-container -->
    
<script>
  // self executing function here
  (function() {
    title = document.getElementById('coll-title');
    if (title) {
      if (title.textContent.length < 30) {
        title.style.fontSize = '32px';
      } else {
        title.style.fontSize = '28px';
      }
    }
  })();

  // self executing function here
  (function() {
    bio = document.getElementById('artist-bio');
    if (bio) {
      if (bio.textContent.length < 1050) {
        bio.style.fontSize = '16px';
      } else {
        bio.style.fontSize = '15px';
      }
    }
  })();
</script>