<p id="notice"><%= notice %></p>

<p>
  <strong>Object ID:</strong>
  <%= @artwork.ojbId %>
</p>

<p>
  <strong>Art Type:</strong>
  <%= @artwork.artType %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @artwork.date %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @artwork.medium %>
</p>

<p>
  <strong>Main Image:</strong>
  <% if @artwork.image.thumb.url %>
    <%= image_tag @artwork.image.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @artwork.dimensions %>
</p>

<p>
  <strong>Frame Dimensions:</strong>
  <%= @artwork.frame_dimensions %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @artwork.condition %>
</p>

<p>
  <strong>Current Location:</strong>
  <%= @artwork.currentLocation %>
</p>

<p>
  <strong>Source:</strong>
  <%= @artwork.source %>
</p>

<p>
  <strong>Date Acquired Label:</strong>
  <%= @artwork.dateAcquiredLabel %>
</p>

<p>
  <strong>Date Acquired:</strong>
  <%= @artwork.dateAcquired %>
</p>

<p>
  <strong>Amount Paid:</strong>
  <%= @artwork.amountPaid %>
</p>

<p>
  <strong>Current Value:</strong>
  <%= @artwork.currentValue %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @artwork.notes %>
</p>

<p>
  <strong>Notes Image:</strong>
  <% if @artwork.notesImage.thumb.url %>
    <%= image_tag @artwork.notesImage.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Additional Info Label:</strong>
  <%= @artwork.additionalInfoLabel %>
</p>

<p>
  <strong>Additional Info Text:</strong>
  <%= @artwork.additionalInfoText %>
</p>

<p>
  <strong>Additional Info Image:</strong>
  <% if @artwork.additionalInfoImage.thumb.url %>
    <%= image_tag @artwork.additionalInfoImage.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Additional PDF:</strong>
  <%= @artwork.additionalPdf %>
</p>

<p>
  <strong>Reviewed By:</strong>
  <%= @artwork.reviewedBy %>
</p>

<p>
  <strong>Reviewed Date:</strong>
  <%= @artwork.reviewedDate %>
</p>

<p>
  <strong>Provenance:</strong>
  <%= @artwork.provenance %>
</p>

<p>
  <strong>Artist:</strong>
  <% unless @artwork.artist.blank? %>
    <%= @artwork.artist.firstName %><%= ' ' %><%= @artwork.artist.lastName %>
  <% end %>
</p>

<p>
  <strong>Customer:</strong>
  <% unless @artwork.customer.blank? %>
    <%= @artwork.customer.firstName %><%= ' ' %><%= @artwork.customer.lastName %>
  <% end %>
</p>

<p>
  <strong>Collection:</strong>
  <% unless @artwork.collection.blank? %>
    <%= @artwork.collection.collectionName %>
  <% end %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
