<p id="notice"><%= notice %></p>

<% content_for :title, "View Artworks" %>

<h1>Artworks</h1>

<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Object ID</th>
    <th>Art Type</th>
    <th>Title</th>
    <th>Artist First Name</th>
    <th>Artist Last Name</th>
    <th>Location</th>
    <th>Date</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @artworks.each do |artwork| %>

    <% if artwork.collection_id.present? %>
      <% if artwork.collection.files.present? %>
        <% artwork.collection.files.each do |filename| %>
          <% if filename.identifier == "#{artwork.ojbId}_Main.jpg" %>
            <% @mainImageExists = true %>
          <% elsif filename.identifier != "#{artwork.ojbId}_Main.jpg" && !@mainImageExists %>
            <% @mainImageExists = false %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% @mainImageExists = false %>
    <% end %>

    <tr>
      <td>
        <% if artwork.image.thumb.url %>
          <%= image_tag artwork.image.thumb.url %>
        <% elsif @mainImageExists %>
          <%= image_tag "https://#{ENV["S3_BUCKET"]}.s3.amazonaws.com/uploads/collection/files/#{artwork.collection.id}/thumb_#{artwork.ojbId}_Main.jpg" %>
        <% end %>
      </td>

      <td hidden><span class="object-id"><%= artwork.id %></span></td>
      <td><span contenteditable="true" class="object-objectID"><%= artwork.ojbId %></span></td>
      <td><%= artwork.artType %></td>
      <td><%= artwork.title %></td>

      <td>
        <% unless artwork.artists.empty? %>
          <%= artwork.artists[0].firstName %>
          <%# artwork.artists.each_with_index do |artist, index| %>
            <%# if (index + 1) == artwork.artists.length %>
              <%#= artist.firstName %><%#= ' ' %><%#= artist.lastName %>
            <%# else %>
<!--              <%#= artist.firstName %><%= ' ' %><%#= artist.lastName %>,-->
            <%# end %>
          <%# end %>
        <% end %>
      </td>

      <td>
        <% unless artwork.artists.empty? %>
          <%= artwork.artists[0].lastName %>
          <%# artwork.artists.each_with_index do |artist, index| %>
            <%# if (index + 1) == artwork.artists.length %>
              <%#= artist.firstName %><%#= ' ' %><%#= artist.lastName %>
            <%# else %>
<!--              <%#= artist.firstName %><%= ' ' %><%#= artist.lastName %>,-->
            <%# end %>
          <%# end %>
        <% end %>
      </td>

      <td><%= artwork.currentLocation %></td>
      <td><%= artwork.date %></td>

      <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
    </tr>
  <% end %>
  </tbody>
  <%= csrf_meta_tag %>
</table>

<script>
    var IDs = document.getElementsByClassName("object-id");
    var objectIDs = document.getElementsByClassName("object-objectID");

    var originalObjectId = "";
    var newObjectId = "";

    for (index = 0; index < objectIDs.length; ++index) {
      var objectId = objectIDs[index];
      var id = IDs[index];

       objectId.setAttribute("id", id.innerHTML);
    };

    $('.object-objectID').click(function() {
        originalObjectId = this.innerHTML;
    });

    $('.object-objectID').blur(function() {
        objectId = this.innerHTML;
        newObjectId = objectId.replace('<br>', '')

        updateObjectId(this.id, newObjectId)
    });

    function updateObjectId(id, objectId) {
        console.log("ID: " + id + " - Object ID: " + objectId)
        $.ajax({
            url: "update_object_id",
            type: 'PUT',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: {
                "id": id,
                "new_objectId": objectId
            },
            success: function(data) {
                if (data.saveSuccessful) {
                    idString = '#' + id
                    $(idString).css("color", "green")
                }
                else {
                    idString = '#' + id
                    $(idString).css("color", "red")
                    console.log("saveSuccess = false")
                }
            }
        })
    }
</script>