<p id="notice"><%= notice %></p>

<% content_for :title, "View Customers" %>

<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path %><br /><br />

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.firstName %></td>
        <td><%= customer.lastName %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>Import that data!</h4>
  <%= form_tag import_customers_path, multipart: true do %>
    <%= file_field_tag :file, :required => true %>
    <%= submit_tag "Import Customers" %>
<% end %>
