<p id="notice"><%= notice %></p>

<% content_for :title, "Show Customer" %>

<p>
  <strong>ID:</strong>
  <%= @customer.id %>
</p>

<p>
  <strong id="artist-bio">Firstname:</strong>
  <%= @customer.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastName %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @customer.email_address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @customer.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Referred By:</strong>
  <%= @customer.referred_by %>
</p>

<p>
  <strong>Project Notes:</strong>
  <%= @customer.project_notes %>
</p>

<p>
  <strong>Customer Photos:</strong>
  <% @customer.customer_photos.each do |img| %>
    <%= image_tag img.thumb.url %>
  <% end %>
</p>


<%= link_to 'New Collection', new_from_customer_path(:cust_id => @customer.id, :redirect => true) %><br /><br />

<div class="collections-heading">Collections</div>

<% @customer.collections.each do |collection| %>
  <button class="art-panel"><%= collection.collectionName %></button>

  <div class="artwork-table-customer">
    <table>
      <thead>
        <tr>
          <th>Collection ID</th>
          <th>Collectionname</th>
          <th>Customer</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= collection.id %></td>
          <td><%= collection.collectionName %></td>
          
          <td>
            <% unless collection.customer.blank? %>
              <%= collection.customer.firstName %><%= ' ' %><%= collection.customer.lastName %>
            <% end %>     
          </td>

        </tr>
      </tbody>
    </table>

    <%= link_to 'Table of Contents', table_of_contents_path(:coll_id => collection.id) %><br /><br />
    <%= link_to 'Table of Contents - PDF', table_of_contents_pdf_path(:coll_id => collection.id, format: :pdf) %><br /><br />
    <%= link_to 'View Table', preview_table_path(:coll_id => collection.id) %><br /><br />
    <%= link_to 'PDF Table', pdf_table_path(:coll_id => collection.id, format: :pdf) %><br /><br />
    <%= link_to 'PDF Crowd Table', download_pdf_table_path(:coll_id => collection.id, format: :pdf) %><br /><br />
    <%= link_to 'New Artwork', new_from_customer_collection_path(:cust_id => @customer.id, :coll_id => collection.id, :customer_redirect => true) %><br /><br />
    
    <% unless collection.artworks.blank? %>
      <div>
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Object ID</th>
              <th>Art Type</th>
              <th>Title</th>
              <th>Artist</th>
              <th>Date</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% collection.artworks.each do |artwork| %>
              <tr>
                <td>
                  <% if artwork.image.thumb.url %>
                    <%= image_tag artwork.image.thumb.url %>
                  <% end %>
                </td>
                <td><%= artwork.ojbId %></td>
                <td><%= artwork.artType %></td>
                <td><%= artwork.title %></td>

                <td>
                  <% unless artwork.artist.blank? %>
                    <%= artwork.artist.firstName %><%= ' ' %><%= artwork.artist.lastName %>
                  <% end %> 
                </td>

                <td><%= artwork.date %></td>
                <td><%= link_to 'HTML Preview', preview_html_path(artwork) %></td>
                <td><%= link_to 'Edit', edit_artwork_path(artwork, :cust_id => @customer.id, :redirect => true) %></td>
                <td><%= link_to 'PDF', preview_pdf_path(artwork, format: :pdf) %></td>
                <td><%= link_to 'Combined_PDF', fancy_report_path(artwork, format: :pdf) %></td>
              </tr>
            <% end %>
          
          </tbody>
        </table>
      </div>

    <% end %>

    <h4>Import that data!</h4>
      <%= form_tag import_path, multipart: true do %>
        <%= file_field_tag :file, :required => true %>
        <%= hidden_field_tag(:customer_id, @customer.id) %>
        <%= hidden_field_tag(:collection_id, collection.id) %>
        <%= submit_tag "Import Artwork" %>
    <% end %>
  </div>

<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>


<script>
  var acc = document.getElementsByClassName("art-panel");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>