<div id="fancy-login">

  <div class="logo">
    <img src="/spire-logo.webp" class="logo-image" />
  </div>

  <div class="login-header">  
    <h2>Log in</h2>
    <% content_for :title, "Login" %>
  </div>

  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <!-- <%= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <div class="field">
        <!-- <%= f.label :password %><br /> -->
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field remember-me-div">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "remember-me" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "login-button" %>
      </div>
    <% end %>
  </div>

  <div class="common-links">
    <%= render "devise/shared/links" %>
  </div>
  
</div>
<script>
  // self executing function here
  (function() {
    title = document.title
    nav = document.getElementById('nav')

    if (title == 'Login') {
      nav.style.display = 'none'
    }
  })();
</script>