<p id="notice"><%= notice %></p>

<p>
  <strong>Information label:</strong>
  <%= @general_information.information_label %>
</p>

<p>
  <strong>Information:</strong>
  <%= @general_information.information %>
</p>

<p>
  <strong>Pieces of Art:</strong>
  <% unless @general_information.artworks.blank? %>
  <div>
    <table>
      <thead>
      <tr>
        <th>Image</th>
        <th>Object ID</th>
        <th>Collection</th>
        <th>Customer</th>
      </tr>
      </thead>
      <tbody>
      <% @general_information.artworks.each do |artwork| %>
        <tr>
          <td>
            <% if artwork.image.thumb.url %>
              <%= image_tag artwork.image.thumb.url %>
            <% end %>
          </td>
          <td><%= artwork.ojbId %></td>
          <td>
            <% unless artwork.collection.blank? %>
              <%= artwork.collection.collectionName %>
            <% end %>
          </td>
          <td>
            <% unless artwork.customer.blank? %>
              <%= artwork.customer.firstName + " " + artwork.customer.lastName %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</p>

<%= link_to 'Edit', edit_general_information_path(@general_information) %> |
<%= link_to 'Back', general_informations_path %>
